.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #e5e7eb; /* Lighter background for light mode */
  color: #333; /* Darker text for light mode */
}

.dark .navbar {
  background-color: #333; /* Dark background for dark mode */
  color: #e5e5e5; /* Lighter text for dark mode */
}

.navbar-link {
  text-decoration: none;
  color: #333; /* Darker text for light mode */
}

.dark .navbar-link {
  color: white; /* Lighter text for dark mode */
}

.navbar-create-quiz-link {
  color: #333; /* Darker text for light mode */
  text-decoration: none;
  margin: 0 16px;
}

.dark .navbar-create-quiz-link {
  color: white; /* Lighter text for dark mode */
}

.navbar-button {
  margin-left: 1rem;
}

.navbar-logout-button {
  background-color: #dc2626;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
